html {
  height: 100%;
}

html, body {
  background-color: #000;
}

.section-title {
  color: #f0f;
}

.home-frontdoor {
  background-color: #f0f;
}

.home-signpost {
  background-color: #0ff;
}

.home-bulletin {
  background-color: #0ff;
}
