<div class="container-fluid">
  <h2 class="text-center section-title" id="title">
    {{#if logintoken}}
    {{#link-to 'home'}}ST6 League Hall: Logged In{{/link-to}}
    {{else}}
    {{#link-to 'home'}}ST6 League Hall{{/link-to}}
    {{/if}}
  </h2>

  {{liquid-outlet}}

</div>
