<div class="container-fluid">
  <h2 class="text-center section-title" id="title">ST6 League Hall</h2>

  <div class="col-md-12 home-bkg text-center">

    <div class="col-md-4 col-md-push-4 home-door"><a class="btn" href="#">DOOR</a></div>
    <div class="col-md-4 col-md-push-4 home-board"><a class="btn" href="#">BOARD</a></div>
    <div class="col-md-4 col-md-pull-8 home-post"><a class="btn" href="#">POST</a></div>

    {{outlet}}
  </div>
</div>
