<h3 class="text-center section-subtitle" id="subtitle">Greatroom</h3>

  <div class="col-md-12 home-bkg text-center">GREATROOM-LEADERBOARD</div>

  <div class="col-md-12 home-bkg text-center">

    <div class="col-md-4 col-md-push-4 home-frontdoor">GREATROOM-BAR</div>
    <div class="col-md-4 col-md-push-4 home-bulletin">GREATROOM-BOOKCASE</div>
    <div class="col-md-4 col-md-pull-8 home-signpost">GREATROOM-TROPHIES</div>

    {{outlet}}
  </div>
