<h3 class="text-center section-subtitle" id="subtitle">Home</h3>

<div class="col-md-12 home-bkg text-center">

  <div class="col-md-4 col-md-push-4 home-frontdoor">{{home-frontdoor}}</div>
  <div class="col-md-4 col-md-push-4 home-bulletin">{{home-bulletin}}</div>
  <div class="col-md-4 col-md-pull-8 home-signpost">{{home-signpost}}</div>

  {{outlet}}
</div>
